@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800;900&display=swap');

/* Variables globales */

// COLORS
$color-bg: #0C0F15;
$color-white: #ededed;
$color-primary: #0DAB7B;
$color-blue: #0D69AB;
$color-red: #830B0B;
$color-violet: #7C2CA2;
$color-orange: #D8300B;
$color-bg-commits: #272727;
$color-bg-task: #404040;
$color-text-task: #808080;

// BORDERS
$b-radius-input: .5rem;
$b-radius-btn: .5rem;

// FONTS
$font-primary: 'Poppins', sans-serif;
$weight-800: 800;
$weight-black: 900;
$weight-500: 500;