@use '../abstracts/variables' as v;
@use '../abstracts/mixins';

.dashboard{

    &__welcome{
        padding: 1.5rem 3rem;
        background: #242C32;
        border-radius: 1rem;
        display: grid;
        grid-template-areas: 
        "icon title"
        "icon text";
        column-gap: 1.5rem;
        align-items: center;
        box-shadow: 0px 2px v.$color-primary;
        position: fixed;
        top: -50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: top .5s ease-in-out;
        animation: appear 4s ease-out forwards;

        &__img{
            max-width: 4rem;
            grid-area: icon;
        }
        &__title{
            grid-area: title;
            text-align: center;
            font-weight: v.$weight-800;
            padding-bottom: .7rem;
            font-size: 2rem;
        }
        &__name{
            grid-area: text;
            text-align: center;
            font-size: 1.5rem;
        }
    }

    &__container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;

        &__btn{
            margin: 3rem 0;
            grid-column: 2 / -1;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            &__item{
                @include mixins.btn(v.$color-red, 1.8rem, 4.5rem, 1.8rem);
            }
        }

        &__card{
            max-width: 100%;
            padding: 3rem 2rem;
            border-radius: .5rem;
            display: flex;
            flex-direction: column;
            word-wrap: break-word;
            overflow: auto;
            cursor: pointer;
            background-color: #00AAFF20;
            color: v.$color-white;
            z-index: 10;

            &:hover{
                opacity: .9;
            }

            h3{
                font-size: 2.5rem;
                text-align: center;
                text-transform: capitalize;
                padding-bottom: 2rem;
            }

            p{
                line-height: 1.2;
                font-size: 2rem;
            }
        }
    }
}

@keyframes appear {
    from{
        top: -50%;
    }
    20%{
        top: 6rem;
    }
    90%{
        top: 6rem;
        opacity: 1;
    }
    100%{
        top: 6rem;
        opacity: 0;
    }
}