@use '../abstracts/variables' as v;
@use '../abstracts/mixins';

.editUser{
    background-color: v.$color-bg-commits;
    width: 100%;
    max-width: 70rem;
    margin: 0 auto;
    display: flex;

    &__nav{
        background: #171717;
        padding: 3rem;
    }

    &__view{
        width: 50%;
        height: 95vh;
        background-color: v.$color-violet;
        padding: 10rem 5rem;
        display: grid;
        place-items: center;
        border-bottom-left-radius: 2rem;
        border-top-left-radius: 2rem;
        position: relative;
        max-height: 700px;

        &__cancel{
            position: absolute;
            top: 2rem;
            right: 2rem;
            background-color: transparent;
            border: none;
            max-width: 7rem;
            cursor: pointer;
        }

        &__img{
            max-width: 15rem;
            position: relative;
            
            &__label{
                position: absolute;
                top: -2rem;
                right: -5.5rem;
                width: 5rem;
                height: 5rem;
                cursor: pointer;
                background: v.$color-bg;
                padding: .8rem;
                border-radius: 1rem;
            }
        }

        &__ul{
            display: grid;
            gap: 1rem;
        }

        &__li{
            list-style: none;
            font-weight: v.$weight-800;
            font-size: 2rem;
            width: 100%;
            max-width: 30rem;
            text-overflow: ellipsis;
            text-align: center;
            overflow: hidden;
        }

        &__btn{
            margin-top: 4rem;
            @include mixins.btn(v.$color-bg, 1.7rem, 5rem, 1.8rem);
        }
    }

    &__data{
        flex-grow: 1;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        &__perfil{
            display: flex;
            align-items: end;
            gap: 4rem;

            &__img{
                width: 15rem;
                height: 15rem;
                position: relative;
                overflow: hidden;
                border-radius: 50%;
                object-fit: cover;

                &__label{
                    position: absolute;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    top: 0;
                    margin: auto;
                    width: 100%;
                    height: 100%;
                    display: grid;
                    place-items: center;
                    cursor: pointer;
                    background: #00000088;
                    padding: .8rem;
                    border-radius: 1rem;
                    opacity: 0;
                    transition: opacity .2s ease-in-out;

                    img{
                        max-width: 5rem;
                    }
                }

                &:hover &__label{
                    opacity: 1;
                }
            }

            &__btn{
                @include mixins.btn(v.$color-bg, 1.3rem, 3.5rem, 1.8rem)
            }
        }

        &__title{
            display: grid;
            place-items: center;
            font-size: 4rem;
            font-weight: v.$weight-800;
            padding-bottom: 2rem;
        }

        &__img{
            display: none;
        }

        &__btns{
            padding-top: 1rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;

            &__red{
                @include mixins.btn(v.$color-red, 1.5rem, 0, 1.8rem);
            }

            &__blue{
                @include mixins.btn(v.$color-blue, 1.5rem, 0, 1.8rem);
            }
        }
    }
}