@use '../abstracts/variables' as v;
@use '../abstracts/mixins';

.login {
    padding-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__title {
        @include mixins.title(3rem)
    }

    &__layout {
        display: grid;
        place-items: center;
    }

    &__form {
        padding-top: 5rem;
        display: grid;
        gap: 2rem;

        &__content-inputs {
            display: grid;
            gap: 1rem;
        }

        &__label {
            font-size: 2.5rem;
            font-weight: v.$weight-800;
            text-transform: capitalize;
        }

        &__input{
            padding: 1.5rem;
            width: 45rem;
            border: none;
            border-radius: v.$b-radius-input;
            background-color: v.$color-white;
        }

        &__buttons{
            padding-top: 3rem;
            display: flex;
            justify-content: space-between;
        }
        
        &__btn-not-account{
            @include mixins.btn(v.$color-red, 1.5rem, 1.5rem, 1.8rem);
        }

        &__btn-login{
            @include mixins.btn(v.$color-blue, 1.5rem, 5rem, 1.8rem);
        }
    }

    &__remember-password{
        font-size: 2rem;
        color: v.$color-white;
        font-weight: v.$weight-black;
        padding-top: 4rem;
    }
}