@use '../abstracts/variables' as v;
@use '../abstracts/mixins';

.new-project{

    &__form{
        padding-top: 2rem;
        width: 100%;
        max-width: 50rem;
        display: grid;
        gap: 2rem;

        &__label{
            font-size: 2.5rem;
            font-weight: v.$weight-800;
        }

        &__text-area{
            margin-top: 1rem;
            display: grid;
            width: 100%;
            height: 20rem;
            resize: none;
            background-color: v.$color-white;
            border: none;
            border-radius: .5rem;
            padding: 2rem;
        }

        &__btn{
            @include mixins.btn(v.$color-orange, 2rem, 0, 2rem)
        }
    }
}