@use '../abstracts/variables' as v;
@use '../abstracts/mixins';

.viewTask{
    display: flex;
    flex-direction: column;

    &__title{
        text-transform: capitalize;
    }

    &__text{
        font-size: 1.8rem;
        font-weight: v.$weight-800;
        text-align: left;
        display: flex;
        align-self: flex-start;
        padding: 2rem 0;
        &__title{
            color: v.$color-bg-task;
        }
        &__date{
            padding-left: 1rem;
            color: v.$color-blue;
        }
        &__description{
            align-self: flex-start;
            width: 100%;
            word-wrap: break-word;
        }
    }

    &__navModify{
        align-self: flex-end;
        position: relative;

        &__more{
            @include mixins.btn( transparent, 0, 0, 0 );
        }

        &__options{
            width: 23rem;
            height: auto;
            position: absolute;
            background-color: #0c0c0c;
            right: 0;
            display: grid;
            gap: 1rem;
            overflow: hidden;
            transition: .3s ease-in-out;
            opacity: 0;
            transform: scaleY(0);
            border-radius: .5rem;
            z-index: 100;

            &__active{
                opacity: 1;
                padding: 2rem;   
                transform: scaleY(1);             
            }

            li{
                list-style: none;
            }

            &__item{
                width: 100%;
                display: flex;
                align-items: center;
                gap: 2rem;
                position: relative;
                color: v.$color-white;
                background-color: transparent;
                border: none;
                cursor: pointer;

                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                }

                &__img{
                    max-width: 3rem;
                }

                span{
                    text-align: left;
                }
            }
        }
    }

    &__commits{
        padding: 1.5rem 2rem;
        background-color: v.$color-bg-commits;
        border-radius: 1rem;
        display: grid;
        gap: .5rem;
        overflow: hidden;

        &__tooltip{
            position: fixed;
            top: 0;
            left: 0;
            padding: 1rem;
            border-radius: .5rem;
            border: 1px solid v.$color-primary;
        }

        &__title{
            text-align: center;
        }

        &__dashboard{
            display: grid;
            grid-auto-flow: column; /* Filas generadas automáticamente, se extiende hacia los lados */
            overflow: auto;/* Habilitar desplazamiento horizontal */
            gap: .5rem; /* Espacio entre los elementos */
            grid-template-rows: repeat(8, 1fr);
            grid-template-areas: 
            "months months months months months months months months months months months months months months months months months months months months months months months months months months months months months months months months months months months months months months months months months months months months months months months months months months months months months";
            padding: .2rem;

            @media screen and (max-width : 868px) {
                &{
                    padding: 2rem .2rem;
                }
            }
        }

        &__item{
            background-color: #7c7c7c;
            width: 1.6rem;
            height: 1.6rem;
            border-radius: .3rem;
            cursor: pointer;
            position: relative;

            &:hover{
                opacity: .8;
            }

            &--active{
                
                &__level-1{
                    background-color: v.$color-primary-level-1;
                }

                &__level-2{
                    background-color: v.$color-primary-level-2;
                }
                &__level-3{
                    background-color: v.$color-primary-level-3;
                }
            }

            @media screen and (max-width : 868px) {
                &{
                    width: 3rem;
                    height: 3rem;
                }
            }
        }

        &__months{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-area: months;
        }

        &__create{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 1rem;

            &__title{
                width: 100%;
                font-weight: v.$weight-black;
            }

            &__textarea{
                flex-grow: 1;
                padding: 1.5rem;
                font-size: 1.6rem;
                border: none;
                border-radius: .7rem;
                background-color: v.$color-white;
                resize: none;
                height: 4.5rem;
                overflow: hidden;
            }

            &__btn{
                @include mixins.btn( v.$color-orange, 1rem, 3rem, 1.6rem )
            }
        }
    }

    &__confirmDelete{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000000de;
        display: grid;
        place-content: center;
        z-index: 200;
        padding: 2rem;

        &-container{
            background: v.$color-bg-task;
            padding: 2rem;
            border-radius: 1rem;
            box-shadow: 0 0 5px #4c4c4c;
            display: grid;
            gap: 2rem;
        }

        &__title{
            font-weight: v.$weight-800;
            font-size: 3.5rem;
            text-align: center;
        }
        
        &__name{
            color: v.$color-bg-commits;
            font-size: 2rem;
            font-weight: v.$weight-black;
        }

        &__buttons{
            display: flex;
            justify-content: flex-end;
            gap: 1rem;
            &__red{
                @include mixins.btn( v.$color-red, 1rem, 2.5rem, 1.8rem );
                flex-grow: 1
            }

            &__orange{
                @include mixins.btn( v.$color-orange, 1rem, 2.5rem, 1.8rem );
                flex-grow: 1;
            }
        }
    }
}