@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Variables globales */

// COLORS
$color-bg: #0C0F15;
$color-black: #0c0c0c;
$color-light-black: #161616;
$color-white: #ededed;
$color-primary: #0DAB7B;
$color-primary-level-1: #0d7e5a;
$color-primary-level-2: #15a177;
$color-primary-level-3: #0DAB7B;
$color-blue: #0D69AB;
$color-red: #830B0B;
$color-violet: #633BBC;
$color-orange: #D8300B;
$color-bg-commits: #272727;
$color-bg-task: #404040;
$color-bg-project: #042332;
$color-text-task: #808080;
$color-commit: #7c7c7c;

// BORDERS
$b-radius-input: .5rem;
$b-radius-btn: .5rem;

// FONTS
$font-primary: 'Poppins', sans-serif;
$weight-800: 500;
$weight-black: 600;
$weight-500: 400;